* {
    box-sizing: border-box;
}

a, button, [onclick] {
    cursor: pointer;
}

#divHistory {
    float: left;
    width: 20%;
    font-size: 12pt;
}

#divHistory div {
    padding: 5px;
}

#divHistory p {
    margin: 0;
}

#divContents {
    float: left;
    width: 80%;
}

div.book span {
    margin-right: 8px;
}

#pageList {
    margin-top: 15px;
}

#pageList span > * {
    margin: 12px 5px 12px 0;
}
