<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Main</title>
    <link rel="stylesheet" th:href="@{css/main.css}"/>
    <script type="text/javascript" th:inline="javascript" th:src="@{js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{js/jquery.tmpl.min.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $().ready(function () {
            keywordHistory();

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $(document).ajaxSend(function (e, xhr) {
                xhr.setRequestHeader(header, token);
            });

            $("#searchProc").click(function () {
                $.ajax({
                    method: "post",
                    url: "/book/search",
                    data: JSON.stringify({
                        type: $('input:radio[name=rdKeywordType]:checked').val(),
                        keyword: $("#txtKeyword").val()
                    }),
                    contentType: "application/json;charset=UTF-8",
                    success: function (data) {   // success callback function
                        $("#divResult").html(data);
                    },
                    error: function (jqXhr, textStatus, errorMessage) { // error callback
                        alert(errorMessage);
                    },
                    complete: function () {
                        keywordHistory();
                    }
                });
            });

            // 히스토리 조회
            function keywordHistory() {
                $.ajax({
                    method: "get",
                    url: "/members/" + $("#username").val() + "/keywords",
                    contentType: "application/json;charset=UTF-8",
                    success: function (data) {   // success callback function
                        $("#divHistory").html("");
                        $("#historyList").tmpl(data).appendTo("#divHistory");
                    },
                    error: function (jqXhr, textStatus, errorMessage) { // error callback
                        alert(errorMessage);
                    }
                });
            }
        });
    </script>
</head>
<body>
<script id="historyList" type="text/x-jquery-templ">
    <div>
        <p>${username}</p>
        <p>${keyword}</p>
        <p>${searchTime}</p>
    </div>

</script>
<div>
    <!--<h1>도서 검색 페이지</h1>-->
    <input th:type="hidden" th:id="username" th:value="${username}">
</div>
<div>
    <input type="radio" name="rdKeywordType" id="title" value="1" checked> 제목
    <input type="radio" name="rdKeywordType" id="isbn" value="2"> ISBN
    <input type="radio" name="rdKeywordType" id="publisher" value="3"> 출판사
    <input type="radio" name="rdKeywordType" id="person" value="4"> 인명
    <input th:type="text" th:id="txtKeyword"/>
    <button id="searchProc">검색</button>
</div>

<div id="divHistory">
    <!--    <th:block th:replace="/fragments :: historyFragment"></th:block>-->
</div>

<div id="divKeywords">
    <th:block th:replace="/fragments :: keywordsFragment"></th:block>
</div>

</body>
</html>
